@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Ubuntu&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.heading{
    font-family: 'Lato', sans-serif;
    font-size: 3vw;
}

.eid{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1vw;
}
.nameClass{
    padding: 0vw 0vw 0vw 0.8vw;
}
.fake{
    color:white;
}

footer{
    color:white;
    background-color: black;
    width: 100vw;
    height: 32px;
    margin: -4px;
    padding:0px;
}
