@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
}

.topName{
    position: relative;
    left: 92px;
    top:10px;
    font-size: 60px;
}

.navBar{
    position: relative;
    top: -40px;
}
a{
    color:blue;
}

.container1{
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 24px;
    padding: 4px 8px;
}

.container1 ul {
    display: flex;
}

.container1 ul li{
    list-style: none;
    margin: 16px 24px;
}

.pic{
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 188px;
    width: 180px;
}
.backImage{
    width: 50vw;
    padding: 13px 464px;
}
.container2{
    margin: 4px;
    padding: 32px 68px;
}

hr{
    margin: 14px 72px;
    color: lightgrey;
}

h2{
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 28px 68px;
}
.grid-container{
    display: inline-grid;
    grid-template-columns: 128px auto;
    margin: 0px 32px;
    padding: 0px 80px;
    grid-gap:16px;
}
.teaching{
    margin: 0px 44px;
    padding: 0px 80px;
}

.grid-container2{
    display: inline-grid;
    grid-template-columns: 228px auto;
    margin: 0px 32px;
    padding: 0px 80px;
    grid-gap:16px;
    padding-bottom: 28px;
}


footer{
    color:white;
    background-color: black;
    width: 100vw;
    height: 32px;
    margin: -4px;
    padding:0px;
}